body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1e1e1e;
    color: white;
}
#login-success-message {
    opacity: 1;
    transition: opacity 3s ease-out;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-success-message.hidden {
    opacity: 0;
}

/* Efekt pro symbol ✔ a text zprávy */
#check-icon {
    font-size: 1.5rem;  /* Velikost symbolu */
    margin-right: 8px;   /* Mezera mezi symbolem a textem */
}

#login-success-message span
    font-size: 1rem;
    .hidden {
        display: none;
    }
    
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    
    #user-form, #user-info {
        margin-bottom: 20px;
    }
    
    button {
        padding: 10px 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #45a049;
    }
    